<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <title>Netflix</title>
  </head>
  <body>
    <ul>
      <li class="card">
        <h3 class="card__title"><%= title %></h3>
        <img
          class="card__img"
          alt="Carátula de <%= title %>"
          src="<%= image %>"
        />
        <p class="card__description">Género: <%= gender %></p>
      </li>
    </ul>
  </body>
</html>
